@media screen and (min-width: 500px) and (max-width: 1000px) {
  .container-fluid {
    width: auto;
    grid-template-columns: 1fr;
  }
  .goals,
  .teams,
  .timeline,
  .scopes,
  .primary {
    grid-column: auto;
  }
  .text-goal {
    text-align: center;
  }
  .timeline {
    grid-row: 5;
    grid-column: 1;
  }
}
